@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

:root {
    --light-blue: #3EBFFF;
    --soft-red: hsl(7, 99%, 70%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
}

body {
    background-color: var(--blue);

}

img {
    width: 70%;
}

input {
    width: 100%;
    height: 55px;
    padding-left: 25px;
    margin-top: 16px;
    margin-bottom: 16px;
    border: 1px solid rgb(228, 215, 215);
    border-radius: 5px;
}


.card {
    background-color: var(--soft-red);
    position: relative;
    margin: 15px auto;
    width: 450px;
    padding: 20px;
    box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    border: 0;
}


.container {
    background-color: var(--light-blue);
    padding: 25px;
    border-radius: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 8px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    display: block;
    position: relative;
}

.container span {
    font-size: 20px;
    padding-bottom: 30px;
}

.container p {
    padding-bottom: 10px;
}



#container-search {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: baseline;
}

#search-pizza {
    background-color: var(--green);
    color: white;
    width: 50%;
    font-size: 16px;
    text-transform: uppercase;
    height: 52px;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(53, 139, 79, 0.712) 0px 5px 1px, rgba(53, 139, 79, 0.712) 0px 0px 1px 1px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#search-pizza:hover {
    background-color: rgba(53, 139, 79, 0.712);
}